@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --main-blue: rgb(16, 129, 182);
    --cyan-blue: rgb(22, 173, 183);;
    --dark-blue: rgb(34, 129, 182);;
    --purple-color: rgb(157, 129, 182);
    --dark-purple-color: rgb(157, 22, 182);

    --black-color: black;
    --white-color: white;

    --font-title: 2rem;
    --font-secondtitle: 2rem;
    --font-caption: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

section {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

a {
    text-decoration: none;
}

footer {
    padding-bottom: 1rem;
    color: var(--main-blue);
    text-align: center;
}

span {
    color: var(--cyan-blue);
}

/* -------------- NAV BAR -------------- */
#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--black-color);
}

#navbar .logo {
    font-size: 1.5rem;
}

#navbar a {
    text-decoration: none;
    color: var(--black-color);
}

#navbar a:hover {
    color: var(--main-blue);
}

/* -------------- HEADER -------------- */

header img {
    width: 11rem;
    margin: 1rem;
    border: red 1em solid;
    border-radius: 10rem;

    animation-name: woww;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes woww {
    from {border: red 1em solid;}
    to {border: blue 0.2em solid;}
  }
  
  

header h1 {
    color: var(--main-blue);
}

header h3 {
    color: var(--cyan-blue);
    padding: 1rem;
}

/* LANDSCAPE MODE DISABLED */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
}